<div id="heading">           <!-- start heading-->
      <h1>About Us</h1>
</div>
                           <!-- start content-->
<div id="msp-egypt" class="text-center">
  <div class="container">
      <h2 class="h1 upper">msp egypt</h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing<br />
          elit, sed diam nonummy nibh euismod tincidunt<br />
          ut laoreet dolore magna aliquam erat volutpat. Ut
      </p>
      <hr />
  </div>
</div>
<div id="msp-azhar">
  <div class="container">
      <div class="text-center">
        <h2 class="h1 upper">msp al-azhar</h2>
      </div>
                           <!-- start mision -->
        <div class="target-image">
            <img class="arrow" src="../../assets/img/arrow.png" alt="">
            <img class="target" src="../../assets/img/mission.png" alt="about target">
        </div>
      <div class="mision">
          <h2>Vision</h2>
          <p>Lorem ipsum dolor sit amet, dolore magna aliq dolore dsf fdsa  consectetuer adipiscing
              elit, sed diam nonummy nibh euismod dolore magna aliqdo sccs alisdfsd dsf q tincidunt
              ut laoreet dolore magna aliquam euismod dolore euismod doloresdf fds sd erat volutpat. Ut
          </p>
      </div>

                           <!-- start vision  -->
      <div class="clear"></div>
      <div class="vision-icon">
              <img src="../../assets/img/vision.png" title="images" alt="imas dd" />
      </div>    
      <div class="vision">
              <h2>Mision</h2>
              <p>Lorem ipsum dolor sit amet, dolore magna aliq dolore dsf fdsa  consectetuer adipiscing
                  elit, sed diam nonummy nibh euismod dolore magna aliqdo sccs alisdfsd dsf q tincidunt
                  ut laoreet dolore magna aliquam euismod dolore euismod doloresdf fds sd erat volutpat. Ut
              </p>
      </div>
  </div>
</div>