<div class="cards">
  <div class="container">
      <div class="card card-1">
          <div class="front">
              <header>
                  <span>Techawy</span>
              </header>

              <div class="slider"></div>

              <div class="card-slider">
                  <button>Read More</button>
              </div>
          </div>
          <div class="back" >
                  <header>
                          <span>Techawy</span>
                  </header>
                  <p>
                      t's a yearly repeated event.
                      Time: During the academic year.
                      Its aim: To take a hand of the beginner in technological field, specially programming, and help him to understand and love this field. Because, we believe that the illiterate nowadays is the ignorant of computer science. Thus, we help people who were lost, to make them understanding, aware, and influential in the society.
                      It includes: Courses with workshops In the field of technology and programming Basics of programming and OOP Web Development It continues until making sure that all students have absorbed the content well. Then, we practice with the final project to summarize what has been explained during the course.
                      Students: From different universities, not condition to be from Al-Azhar University.
                      Instructors: A group of distinguished members of the team, who explain in a simple and smooth way to be easy to understand by the students.
                      With an impressive group of Technical supports To help who has a problem within the audience, and help them in understanding and application.
                  </p>
          </div>
      </div>
      <div class="card card-2">
          <div class="front">
              <header>
                  <span>Techawy</span> 
              </header>

              <div class="slider"></div>

              <div class="card-slider">
                  <button>Read More</button>
              </div>
          </div>
          <div class="back">
              <header>
                      <span>Techawy</span>
              </header>
              <p>
                  t's a yearly repeated event.
                  Time: During the academic year.
                  Its aim: To take a hand of the beginner in technological field, specially programming, and help him to understand and love this field. Because, we believe that the illiterate nowadays is the ignorant of computer science. Thus, we help people who were lost, to make them understanding, aware, and influential in the society.
                  It includes: Courses with workshops In the field of technology and programming Basics of programming and OOP Web Development It continues until making sure that all students have absorbed the content well. Then, we practice with the final project to summarize what has been explained during the course.
                  Students: From different universities, not condition to be from Al-Azhar University.
                  Instructors: A group of distinguished members of the team, who explain in a simple and smooth way to be easy to understand by the students.
                  With an impressive group of Technical supports To help who has a problem within the audience, and help them in understanding and application.
              </p>

          </div>
      </div>
      <div class="card card-3">
          <div class="front">
              <header>
                  <span>Techawy</span>
              </header>

              <div class="slider"></div>

              <div class="card-slider">
                  <button>Read More</button>
              </div>
          </div>
          <div class="back">
              <header>
                      <span>Techawy</span>
              </header>
              <p>
                  t's a yearly repeated event.
                  Time: During the academic year.
                  Its aim: To take a hand of the beginner in technological field, specially programming, and help him to understand and love this field. Because, we believe that the illiterate nowadays is the ignorant of computer science. Thus, we help people who were lost, to make them understanding, aware, and influential in the society.
                  It includes: Courses with workshops In the field of technology and programming Basics of programming and OOP Web Development It continues until making sure that all students have absorbed the content well. Then, we practice with the final project to summarize what has been explained during the course.
                  Students: From different universities, not condition to be from Al-Azhar University.
                  Instructors: A group of distinguished members of the team, who explain in a simple and smooth way to be easy to understand by the students.
                  With an impressive group of Technical supports To help who has a problem within the audience, and help them in understanding and application.
              </p>
          </div>
      </div>

      <div class="clearfix"></div>
  </div>
</div>