
.container {
    color: #fff;
}

p {
    font-size: 4vw;
    margin-top: 17%;
}

p span {
    font-size: 8vw;
    font-weight: bold;
    display: block;
}

button {
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 37px;
    background-color: rgba(6, 115, 140, 0.8);
    border: none;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-bottom: 100px;
}

button:hover {
    background-color: rgba(6, 115, 140, 1);
}