
<!-- adding navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <!-- make the navbar width equal to the view width -->
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#link" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img class="img-responsive" src="../assets/img/logo.png" alt="logo image">
        <span class="hidden-lg hidden-md hidden-sm">MSP Azhar</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="link">
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Events</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Home</a></li>
      </ul>

    </div>

  </div>

</nav>

<router-outlet></router-outlet> 


<!-- Start Contact Form -->
<footer class="main">    
    <div class="container">
      <form class="contact" #contactForm="ngForm">
        <h2>Contact us</h2>
        <div class="form-group">
          <input name="name" #userName="ngModel" [(ngModel)]="name" type="text" placeholder=" Name" required>
          <div class="validate" [hidden]="userName.valid || userName.pristine">Name is required</div>
        </div>
        <div class="form-group">
          <input name="email" #userEmail="ngModel" [(ngModel)]="email" type="email" placeholder=" Email" required>
          <div class="validate" [hidden]="userEmail.valid || userEmail.pristine">Email is required</div>
        </div>
        <div class="form-group">
          <textarea name="message" #messages="ngModel" [(ngModel)]="message" cols="60" rows="7" placeholder=" Message" required></textarea>
          <div class="validate" [hidden]="messages.valid || messages.pristine">Please enter a message or feedback</div>
        </div>
        <input type="submit" value="SEND" [disabled]="!contactForm.form.valid">
      </form>
  
      <!-- End Contact Form -->
  
      <!-- Start footer -->
  
      <div class="footer">
        <h2>follow us</h2>
        <ul class="list-unstyled">
            <li><i class="fa fa-facebook"></i><a href="#">www.facebook.com/msptech</a></li>
            <li> <i class="fa fa-linkedin"></i> <a href="#">www.linkedin.com/msptech</a></li>
            <li> <i class="fa fa-twitter"></i> <a href="#">www.twitter.com/msptech</a></li>
        </ul>
        <span class="copy">Copyright &copy; 2018 MSP. &ensp;</span>
        <span class="copy">Designed by <a href="#">MSPTEAM</a></span>
      </div>
    </div>
</footer>
<!-- Start Contact Form -->