/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'nexa';
    src: url('assets/Fonts/nexabold.otf');
}

body {
    background-image: url(assets/img/bg-03.png);
    background-size: 100% 100%;
    background-attachment: fixed;
}

img {
    max-width: 100%;
    height: auto;
}

.validate {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    color: #f00;
    opacity: 0.8;
}

.wrong {
    background-color: rgb(167, 80, 80) !important;
}