<div class="component">

    <!-- adding the header -->
    <header class="text-center">
        <div class="container">
            <!-- the main heading -->
            <h1 class="heading">MSP Tech Club <br> Azhar university</h1>

            <p class="desc">Tech Your Way</p>

        </div>
    </header>

    <!-- the about section -->
    <section class="about">
        <div class="container">
            <h2 class="sec-heading">About</h2>
            
            <div class="target-image">
                <img class="arrow" src="../../assets/img/arrow.png" alt="">
                <img class="target" src="../../assets/img/mission.png" alt="about target">
            </div>

            <p class="about-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dolores esse dolorum culpa vitae corrupti velit blanditiis fugit ex iusto. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, iusto! Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat corrupti aspernatur similique veritatis, quidem dolores atque est. Sit facere est veritatis earum harum suscipit nam repellendus ducimus recusandae voluptatem error, minus dignissimos quaerat tempore nihil, possimus ut accusantium quidem nemo.</p>

            <div class="clearfix"></div>
        </div>
    </section>

    <!-- the our services section -->
    <section class="our-services text-center">
        <div class="container">
            <h2 class="sec-heading">Our Services</h2>

            <div class="ser-grid">
                <div class="ser-img visible-lg visible-md">
                    <img src="../../assets/img/man.png" alt="">
                </div>

                <div class="services text-left">
                    <div class="ser-item item1">
                        <div class="icon">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        </div>

                        <div class="caption">
                            <h4>Dreamspark</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero recusandae optio ab totam dolorum non aliquid quis nulla!</p>
                        </div>

                        <div class="option">
                            <span>01</span>
                        </div>
                    </div>

                    <div class="ser-item item2">
                        <div class="icon">
                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                        </div>

                        <div class="caption">
                            <h4>Office365</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero recusandae optio ab totam dolorum non aliquid</p>
                        </div>

                        <div class="option">
                            <span>02</span>
                        </div>
                    </div>

                    <div class="ser-item item3">
                        <div class="icon">
                            <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                        </div>

                        <div class="caption">
                            <h4>Office365</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero recusandae optio ab totam dolorum non</p>
                        </div>

                        <div class="option">
                            <span>03</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- add the testimonial section -->
    <section class="testimonial text-center">
        <div class="container">
            <h2 class="sec-heading">Testimonials</h2>

            <!-- the feedback slider -->
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
              
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <div class="carousel-caption">
                        <p class="feedback">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores atque nemo laboriosam nisi unde, ut ab commodi, beatae tenetur autem, nostrum saepe nulla architecto necessitatibus vero in nesciunt distinctio repudiandae ullam quis quod! Non perferendis inventore veritatis deleniti odio accusantium?</p>
                        <p class="author">Alan Smith</p>
                    </div>
                  </div>
                  
                  <div class="item">
                    <div class="carousel-caption">
                        <p class="feedback">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores atque nemo laboriosam nisi unde, ut ab commodi, beatae tenetur autem, nostrum saepe nulla architecto necessitatibus vero in nesciunt distinctio repudiandae ullam quis quod! Non perferendis inventore veritatis deleniti odio accusantium?</p>
                        <p class="author">Alan Smith</p>
                    </div>
                  </div>

                  <div class="item">
                    <div class="carousel-caption">
                        <p class="feedback">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores atque nemo laboriosam nisi unde, ut ab commodi, beatae tenetur autem, nostrum saepe nulla architecto necessitatibus vero in nesciunt distinctio repudiandae ullam quis quod! Non perferendis inventore veritatis deleniti odio accusantium?</p>
                        <p class="author">Alan Smith</p>
                    </div>
                  </div>
                </div>
              
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
    </section>


    <!-- facts section -->
    <section class="facts text-center">
        <div class="container">
            <div class="col-sm-4">
                <div class="fact-item">
                    <div id="amount">324</div>
                    <p class="desc">Lorem ipsum dolor sit.</p>
                </div>
            </div>
    
            <div class="col-sm-4">
                <div class="fact-item">
                    <div id="amount2">324</div>
                    <p class="desc">Lorem ipsum dolor sit.</p>
                </div>
            </div>
    
            <div class="col-sm-4">
                <div class="fact-item">
                    <div id="amount3">324</div>
                    <p class="desc">Lorem ipsum dolor sit.</p>
                </div>
            </div>
        </div>
    </section>
</div>